@model MVC_MBQ.Models.ProdutoDoado

@{
    ViewData["Title"] = "Apagar Produto Doado";
}


<ol class="breadcrumb">
    <li class="active">
        @if (ViewContext.RouteData.Values["controller"] != "Home" && ViewContext.RouteData.Values["action"] != "Index")
        {
            @Html.ActionLink("Home", "Index", "Home") @:>   @Html.ActionLink("PapiApp", "PapiApp", "Home") >  @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")
        }
        > @ViewBag.Title
    </li>
</ol>

<h1>Apagar</h1>

<h3>Tens a certeza que pretendes apagar este produto?</h3>
<div>
    <h4>ProdutoDoado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Quantidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            Nome de Produto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            Data de Doação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doacao.DataDoacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Apagar" class="btn btn-danger" />  | 
        <a asp-action="Index">Voltar a Lista Produtos Doados</a> | 
        <a asp-controller="Doacaos" asp-action="Index">Voltar à Lista de Doações</a>
    </form>
</div>
