@model IEnumerable<MVC_MBQ.Models.ProdutoDoado>

@{
    ViewData["Title"] = "Produtos Doados";
}


<ol class="breadcrumb">
    <li class="active">
        @if (ViewContext.RouteData.Values["controller"] != "Home" && ViewContext.RouteData.Values["action"] != "Index")
        {
            @Html.ActionLink("Home", "Index", "Home") @:>  @Html.ActionLink("PapiApp", "PapiApp", "Home")>  @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")
        }
        > @ViewBag.Title
    </li>
</ol>


<h1>Lista de Produtos Doados</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <caption>Tabela - Lista de Produtos Doados</caption>
    <thead>
        <tr>
            <th>
                Quantidade
            </th>
            <th>
                Nome de Produto
            </th>
            <th>
                Data de Doação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doacao.DataDoacao)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |*@
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Doacaos" asp-action="Index">Voltar à Lista de Doações</a>
