@model IEnumerable<MVC_MBQ.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<ol class="breadcrumb">
    <li class="active">
        @if (ViewContext.RouteData.Values["controller"] != "Home" && ViewContext.RouteData.Values["action"] != "Index")
        {
            @Html.ActionLink("Home", "Index", "Home") @:>   @Html.ActionLink("PapiApp", "PapiApp", "Home")  >  @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")
        }
        > @ViewBag.Title
    </li>
</ol>

<h1>Categorias</h1>


<p>
    <a asp-action="Create">Criar nova Categoria</a>
</p>
<table class="table">
    <caption>Lista de Categorias</caption>
    <thead>
        <tr>
            <th>
                Categorias
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCategoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
